<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>We’d love your thoughts on Kuky 💙</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            display: grid;
            place-items: center;
            width: 100%;
            font-family: 'Comfortaa', sans-serif;
            color: black !important;
            line-height: 130% !important;
            background-color: white !important;
        }

        .email-container {
            color: black !important;
            background-color: white !important;
            padding: 30px;
            max-width: 600px;
            margin: 20px auto;
            border-radius: 10px;
        }

        .header {
            text-align: center;
            padding-bottom: 20px;
            mix-blend-mode: difference;
        }

        .header img {
            width: 50px;
        }

        .title {
            color: #E8FF58;
            font-size: 20px;
            font-weight: bold;
        }

        .content {
            text-align: center;
            font-size: 16px;
            color: black !important;
            margin: 20px 0;
        }

        .footer {
            text-align: center;
            margin-top: 40px;
            color: black !important;
        }

        .footer-logo {
            width: 80px;
            height: auto;
        }
    </style>
</head>

<body style="background-color: white !important; color: black !important;">

    <div class="email-container">
        <div class="header">
            <img src="https://s3.ap-southeast-2.amazonaws.com/media.kuky.com/kuky-logo.png" alt="Logo">
        </div>

        <div class="content">
            <p
                style="color: black !important; font-family: 'Comfortaa', sans-serif !important; font-size: 13px; text-align: left;">
                Hi {{to_name}}!</p>
            <p
                style="color: black !important; font-family: 'Comfortaa', sans-serif !important; font-size: 13px; text-align: left;">
                I noticed you started creating your profile on Kuky, that’s awesome! We’re really excited to have you as part of our early community.
            </p>
            <p
                style="color: black !important; font-family: 'Comfortaa', sans-serif !important; font-size: 13px; text-align: left;">
                Since you didn’t get a chance to finish setting up your profile or upload a video, I just wanted to check in and see how your experience was. Was anything confusing or holding you back? Your feedback would be incredibly helpful as we continue improving Kuky.</p>
            <p
                style="color: black !important; font-family: 'Comfortaa', sans-serif !important; font-size: 13px; text-align: left;">
                <a href="https://shorturl.at/SmdAX">Here</a> are a few short words from our founder about why we ask for video verification. [<a href="https://shorturl.at/SmdAX">https://shorturl.at/SmdAX</a>]</p>
            <p
                style="color: black !important; font-family: 'Comfortaa', sans-serif !important; font-size: 13px; text-align: left;">
                You can jump back in here: <a href="https://app.kuky.com">https://app.kuky.com</a></p>
            <p
                style="color: black !important; font-family: 'Comfortaa', sans-serif !important; font-size: 13px; text-align: left;">
                We would love to see you on the platform!</p>
            <p
                style="color: black !important; font-family: 'Comfortaa', sans-serif !important; font-size: 13px; text-align: left;">
                Warmly,<br />
                Kristijan<br />
            <p style="color: black !important; font-family: 'Comfortaa', sans-serif !important; font-size: 11px; font-style: italic; text-align: left;">Head of Growth Experiments</p>
            <p
                style="color: black !important; font-family: 'Comfortaa', sans-serif !important; font-size: 13px; text-align: left;">
                <a href="https://cal.com/kuky.com/15min">[Book a Meeting]</a> | <a
                    href="https://www.instagram.com/kuky_app/">[Instagram]</a> | <a
                    href="https://www.youtube.com/channel/UC_FleO58OJacZz4EL55ssbw">[Youtube]</a> | <a
                    href="https://www.kuky.com/">[Website]</a>

            </p>
        </div>
        <img class="footer-logo"
            src="https://www.kuky.com/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fbettertogether.0dcc86c9.png&w=1200&q=75"
            alt="Logo Kuky">

    </div>

</body>

</html>