<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title style="color: #ffffff !important; font-family: 'Comfortaa', sans-serif !important;">Welcome to Kuky!</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            background-color: #f0f0f0;
            display: grid;
            place-items: center;
            width: 100%;
            font-family: 'Comfortaa', sans-serif;
            color: white;
        }

        .profile-card-container {
            display: grid;
            place-items: center;
            width: 100%;
        }
        
        .email-container {
            background-color: #6b45de;
            color: #ffffff;
            padding: 30px;
            max-width: 600px;
            margin: 20px auto;
            border-radius: 10px;
        }

        .header {
            text-align: center;
            padding-bottom: 20px;
        }
        .header img {
            width: 50px;
        }
        .title {
            color: #E8FF58;
            font-size: 20px;
            font-weight: bold;
        }
        .content {
            text-align: center;
            font-size: 16px;
            color: #ffffff;
            margin: 20px 0;
        }
        .profile-card {
            background-color: #fff;
            color: #333;
            border-radius: 10px;
            padding: 15px;
            display: inline-block;
            margin-bottom: 20px;
        }
        .profile-card h3 {
            margin: 0;
            font-size: 18px;
        }
        .profile-card p {
            font-size: 14px;
            color: #666;
        }
        .button-container {
            text-align: center;
        }
        .button {
            background-color: #333333;
            color: #ffffff;
            padding: 12px 20px;
            text-decoration: none;
            border-radius: 25px;
            font-weight: bold;
        }
        .footer {
            text-align: center;
            margin-top: 40px;
            color: #ffffff;
        }
        .footer a {
            color: #ffffff;
            text-decoration: none;
            font-size: 12px;
            margin: 0 5px;
        }
        .footer-links {
            margin-top: 20px;
          margin-bottom: 20px;
        }
        .footer-icons img {
            width: 30px;
        }
        .footer-logo {
            width: 50px;
            height: auto;
        }
        .footer-store {
            width: 115px;
            height: auto;
        }
      .welcome-image {
        width: 100%;
        height: auto;
      }
    </style>
</head>
<body>

<div class="email-container">
    <div class="header">
        <img src="https://s3.ap-southeast-2.amazonaws.com/media.kuky.com/kuky-logo.png" alt="Logo">
        <h1 class="title" style="color: #E8FF58 !important; font-family: 'Comfortaa', sans-serif !important; font-size: 38px;">Welcome to Kuky! </h1>
        <h5 style="color: #ffffff !important; font-family: 'Comfortaa', sans-serif !important; font-size: 16px;">We’re excited to have you here.</h5>
    </div>

    <div>
    <img class="welcome-image" src="https://s3.ap-southeast-2.amazonaws.com/media.kuky.com/welcome_image.png" alt="Logo">
    </div>

    <div class="content">
        <p style="color: #ffffff !important; font-family: 'Comfortaa', sans-serif !important; font-size: 14px;">Now it's time to dive in!</p>
        <p style="color: #ffffff !important; font-family: 'Comfortaa', sans-serif !important; font-size: 18px;">Explore profiles, connect with like-minded individuals, and pursue your goals together.</p>
        <p style="color: #E8FF58 !important; font-family: 'Comfortaa', sans-serif !important; font-size: 18px;">Let the journey begin!</>
    </div>

    <div class="button-container">
        <a href="kuky://" class="button" style="color: #ffffff !important; font-family: 'Comfortaa', sans-serif !important;">Start Exploring</a>
    </div>

   <div class="footer">
            <img class="footer-logo" src="https://s3.ap-southeast-2.amazonaws.com/media.kuky.com/kuky-logo.png"
                alt="Logo">
            <p style="color: #ffffff !important; font-family: 'Comfortaa', sans-serif !important;">Download the KUKY app now!</p>
            <a href="https://apps.apple.com/au/app/kuky/id6711341485">
                <img class="footer-store" src="https://s3.ap-southeast-2.amazonaws.com/media.kuky.com/app-store.png"
                    alt="App Store">
            </a>
            <a href="https://play.google.com/store/apps/details?id=com.kuky.android">
                <img class="footer-store" src="https://s3.ap-southeast-2.amazonaws.com/media.kuky.com/play-store.png"
                    alt="App Store">
            </a>

            <div class="footer-links">
                <a href="https://www.kuky.com/terms-and-service">Terms & Conditions</a> |
                <a href="https://www.kuky.com/privacy-policy">Privacy Policy</a> |
                <a href="#">Unsubscribe</a>
            </div>
            <div class="separator-line" />
            <div class="footer-icons">
                <a href="https://www.instagram.com/kuky_app/"><img
                        src="https://s3.ap-southeast-2.amazonaws.com/media.kuky.com/instagram.png" alt="Instagram"></a>
                <a href="https://x.com/kuky_app"><img
                        src="https://s3.ap-southeast-2.amazonaws.com/media.kuky.com/twitter.png" alt="Twitter"></a>
                <a href="https://facebook.com/kukyapp"><img
                        src="https://s3.ap-southeast-2.amazonaws.com/media.kuky.com/facebook.png" alt="Facebook"></a>
                <a href="https://wa.me/610491711556"><img
                        src="https://s3.ap-southeast-2.amazonaws.com/media.kuky.com/whatsapp.png" alt="Whatsapp"></a>
                <a href="https://www.youtube.com/@kuky_app"><img
                        src="https://firebasestorage.googleapis.com/v0/b/kuky-105e6.appspot.com/o/social%2Fyoutube.png?alt=media&token=671c4004-b59a-4ee9-b336-d704135c2264"
                        alt="Youtube"></a>
                <a href="https://www.tiktok.com/@kuky_app"><img
                        src="https://firebasestorage.googleapis.com/v0/b/kuky-105e6.appspot.com/o/social%2Ftiktok.png?alt=media&token=c80c765c-c7d6-45a5-b475-cbb59d62feac"
                        alt="Tiktok"></a>
            </div>
        </div>
</div>

</body>
</html>